*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor:pointer;
    background: #FFEDE0;
    font-family: 'Poppins', sans-serif;
}
/*toggle*/

.brand-title{
font-size:1.4rem;
padding-left:20px;
padding-top:19px;
}
.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center ;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
}
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: #FFEDE0;
    }
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display:none;
    }

    .navbar-links ul {
        flex-direction: column;
        margin-top:100px;
        margin-bottom:170px;
    }

    .navbar-links ul li {
       justify-content:center;
       align-items:center;
    }

    .navbar-links ul li a {
        padding: 1rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    li{
    display: block;
    font-size:.9em;
    font-weight: 500;
    } 
    li a{
    display:block;
    text-decoration: none;
    margin-bottom:30px;
    margin-left:145px;
    color:#000;
    }
    li a:hover{
    color:crimson;
    }

/*toggle end*/
.social-section{
    display:flex;
    padding-top: 190px;
    padding-left: 30px;
    padding-right:28px;
}
.img{
  	display:none;		
}
.social-links{
    padding-top: 20px;
}

.para1{
    margin-left: 20px;
}
h2{
    color:#000;
    font-size: 1.5em;
    font-weight: 700;
}
h3{
    color:#000;
    font-weight: 550;
    letter-spacing: px;
    font-size: .9rem;
    margin-bottom: .8em;
}
p{
    color:#000;
    font-weight: 350px;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: .8rem;
    text-align:justify;
    margin-bottom: 1.4rem;
}
.social-link-icon{
    display: block;
    padding-bottom: 10px;
}
.contact-me{
margin-top:.1em;
padding: 0.7rem 1rem;
background: #eb781b;
color: ghostwhite;
text-decoration: none;
font-weight: 700;
font-size: .9em;
border-radius: 5px;
border: none;
}
.far{
    background: #eb781b;  
}
.fab{
    color:#FF933B;
}
/* about section */
.about-section{
    height: 100vh;
    margin-top:150px;
    box-sizing: border-box;
}
.about-me{
    padding-top: 20px;
    padding-left: 28px;
    padding-right:28px;
    text-indent: 3.5em;
    line-height: 1.5em;
    font-size: .7rem;
    font-weight: 400;
    text-align: justify;
}
h1{
    text-align: center;
    color: #FF933B;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 50px;
}
.about-content{
margin-top:20px;
}
.btn-download-cv{
    padding: 0.7rem 1.3rem;
    background: #eb781b;
    color: ghostwhite;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-left: 100px;
}
.btn-download-cv:hover{
    color: #fff;
    background-color: #fa9a55;
}
.image{
padding: 0px 28px;
}
.img2{
    margin-top: 20px;
    height:300px;
    width:300px;
    object-fit: cover;
}
/* Skill Section */
.skill-section{
    margin-top:150px;
    padding-top:170px;
    height: 100vh;
}
.skill-container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: 150px 150px;
}
.skill{
        
        height: auto;
        background: rgba(255, 255, 255,1);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 1rem;
        font-weight: 700;
        padding: 1.5rem 0;
}
.skill img {
    width: 20%;
    margin-bottom: 1rem;
}
/* portfolio */
.portfolio-container{
    
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows:300px;
    grid-template-columns:300px;
    grid-gap:20px;
    
}
.portfolio{
    height: 300px;
}
.portfolio-section{
    margin-top: 150px;
    margin-bottom: 100px;
    z-index:-1;
}
.arch-design, .photography, .interior-design,.web-design{
    height: 300px;
    width: 300px;
}
.arch-design{
   grid-row: 1/2;
   grid-column: 1/2;
    
}
.photography{
   grid-row: 2/3;
}
.interior-design{
    grid-row: 3/4; 
    grid-column: 1/3;

}
.web-design{
  grid-row: 4/5;
}
/* contact */
.contact-container{
    height: 100%;
    padding:30px 0px;
    margin: 10px 15px;
    border-radius: 10px;
    background-color: #211C18;
}
.contact-section{
    background-color: #f37a16;
    margin:20px 0px;
    padding:20px 0px;
    height:680px;
}
.contact-info{
    padding:0px 28px;
    background-color: #211C18;
}
div.contact-input{
    height: 0;
    width:0;
}
.contact-input{
    margin: 0px 10px;
}
.fas{
    background-color: #211C18;
    padding-right: 10px;
    color: #fff;
}
.contact-title{
    font-size: 1.5em;
    font-weight: 800;
    color: #FF933B;
    background-color: #211C18;
}
input, textarea{
    width: 300px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: .8em;
    font-weight: 400;
}
.contact-btn{
    margin-left: -1px;
    padding: 5px 20px;
    background: #eb781b;
    color: #fff;
    border-radius: 5px;
    text-decoration:none;
}
.contact-btn:hover{
    background-color: #dd8034;
    color: #fff;
}
.contact-para-info{
    color: #fff;
    background-color: #211C18;
    font-size:.8em;
}
footer{
    margin-top:100px;
    background-color: #211C18;
    color: #fff;
    padding:15px 0px;
    text-align: center;
}
/* media queries */

@media(min-width: 1024px) {
    .brand-title{
        font-weight: 900;
        padding-left: 100px;
    }
    .navbar{
        display:flex;
    }
    .toggle-button{
        display: none;
    }
    .navbar-links{
       margin-left: 700px;
        display: inline;
        width: 600px;
        margin-top: -145px;
    }
    li a{
        float: left;
        margin-left: 10px;
        font-size: 1.2em;
    }
.social-links{
    padding:0px 60px 0px 150px;
    margin-top: 50px;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.3em;
}
p{
    font-size: 1em;
}
.img{
    display:flex;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -35px;
}
.para1{
    width: 30vw;
    margin-right:200px;
}
.social-link-icon{
    font-size: 1.3em;
}
.about-content{
    display: flex;
    padding: 0px 0px 0px 100px;
}
.about-section{
    padding-top: 110px;
    padding-left: 70px;
}
.about-me{
    font-size: 1em;
    padding-top: 60px;
    padding-right: 100px;
}
.btn-cv{
    margin:-50px 0px 0px 380px;
}
.skill-section{
    padding-top: 50px;
}
/* portfolio section */
.portfolio-container{
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns:300px 300px 300px;
}
.portfolio-section{
    margin-left: 115px;
}
/* contact section */
.contact-container{
    display: flex;
    width: 90%;
    padding:80px 0px;
    margin:0px 5%;

}
input, textarea{
    width: 450px;
    margin-bottom: 10px;
    margin-left: 70px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: .8em;
    font-weight: 400;
}
.contact-section{
    margin: 0;
    padding-top: 30px;
    background-color: #f37a16;
    height: 80vh;
}
.contact-info{
    padding-top: 25px;
    width: 50%;
}
.contact-title{
    font-size: 3em;
    font-weight: 800;
    color: #FF933B;
    background-color: #211C18;
    padding-left: 80px;
}
.contact-para-info{
    padding-left: 80px;
    font-size: 1em;
}
.contact-btn{
    margin-left: 70px;
}
}


