* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    cursor:pointer;
    background: #FFEDE0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.header{
    border-bottom: 1px solid #E2E8F0;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link{
    font-size: 1rem;
    font-weight: 400;
    color: #475569;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.nav-link:hover{
    color: crimson;
}

.nav-logo {
    font-size: 1.3rem;
    font-weight: 900;
    color: rgb(46, 42, 42);
}
/* hamburger style */
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
/* home */
.social-section{
    display:flex;
    padding-top: 190px;
    padding-left: 150px;
    padding-right: 150px;
}
.img{
    margin-left: 250px;
    margin-top: -50px;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    object-fit: cover;
}
.social-links{
    padding-top: 40px;
}

.para1{
    margin-left: 80px;
    width:100%;
}
h2{
    color:#000;
    font-size: 3.5em;
    font-weight: 700;
}
h3{
    color:#000;
    font-weight: 550;
    letter-spacing: 1px;
    font-size: 1rem;
    margin-bottom: .8em;
}
p{
    color:#000;
    font-weight: 350;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 1rem;
    margin-bottom: 1.4rem;
}
.social-link-icon{
    display: block;
    padding-bottom: 10px;
}
.contact-me{
margin-top:.1em;
padding: 0.7rem 1rem;
background: #eb781b;
color: ghostwhite;
text-decoration: none;
font-weight: 700;
font-size: .9em;
border-radius: 5px;
border: none;
}
.far{
    background: #eb781b;  
}
.fab{
    color:#FF933B;
}

/* about-me */
/* about section */
.about-section{
    padding-top: 130px;
    height: 100vh;
}
.about-me{
    padding-top: 50px;
    padding-left: 70px;
    text-indent: 3.5em;
    line-height: 1.5em;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    width: 100%;
}
h1{
    text-align: center;
    color: #FF933B;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 50px;
}
.about-content{
    display:flex;
    /* flex-direction: row; */
    padding:0px 200px;
}
.btn-cv{
    margin-left:420px;
    margin-top: -40px;
}
#btn-download-cv{
    padding: 0.7rem 1.3rem;
    background: #eb781b;
    color: ghostwhite;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-left: 100px;
    overflow: hidden;
}
#btn-download-cv:hover{
    color: #fff;
    background-color: #fa9a55;
}
.img2{
    margin-top: 40px;
    height:250px;
    width:250px;
    object-fit: cover;
}
/* skill-section */
.skill-section{
    margin-top: -70px;
    padding-top:170px;
    height: 100vh;
}
.skill-container{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: 200px 200px;
}
.skill{
        
        height: auto;
        background: rgba(255, 255, 255,1);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 1rem;
        font-weight: 700;
        padding: 1.5rem 0;
}
.skill img {
    width: 20%;
    margin-bottom: 1rem;
}
/* portfolio */
.portfolio-container{
    
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows:300px 300px;
    grid-template-columns:300px 300px 300px;
    grid-gap:20px;
}
.portfolio{
    height: 300px;
}
.portfolio-section{
    padding-top: 150px;
    margin-bottom: 100px;
}
.arch-design, .photography, .interior-design,.web-design{
    height: 300px;
    width: 300px;
}
.arch-design{
   grid-row: 1/2;
   grid-column: 1/2;
    
}
.photography{
   grid-row: 2/3;
}
.interior-design{
    grid-row: 3/4; 
    grid-column: 1/3;

}
.web-design{
  grid-row: 4/5;
}
/* contact */
.contact-container{
    display: flex;
    height: 500px;
    padding:30px 0px;
    margin: 60px 90px;
    border-radius: 10px;
    background-color: #211C18;
}
.contact-section{
    background-color: #f37a16;
    margin:20px 0px;
    padding:20px 0px;
    height:680px;
}
.contact-info{
    margin-top:50px;
    padding:0px 28px;
    background-color: #211C18;
}
div.contact-input{
    height: 0;
    width:0;
}
.contact-input{
    margin: 20px -200px 0px -200px;
}
.fas{
    background-color: #211C18;
    padding-right: 10px;
    color: #fff;
}
.contact-title{
    font-size: 3em;
    margin-left: 60px;
    font-weight: 800;
    color: #FF933B;
    background-color: #211C18;
}
.contact-para-info{
    width: 50%;
    margin-left: 60px;
    color: #fff;
    background-color: #211C18;
    font-size:1em;
}
input, textarea{
    width: 500px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    font-weight: 400;
}
.contact-btn{
    margin-left: -1px;
    padding: 5px 20px;
    background: #eb781b;
    color: #fff;
    border-radius: 5px;
    text-decoration:none;
}
.contact-btn:hover{
    background-color: #dd8034;
    color: #fff;
}
footer{
    margin-top:100px;
    background-color: #211C18;
    color: #fff;
    padding:15px 0px;
    text-align: center;
}
/* media queries */

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


}
